Package: base16384-dbgsym
Package-Type: ddeb
Source: base16384
Version: 2.2.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: fumiama <fumiama@foxmail.com>
Installed-Size: 37
Depends: base16384 (= 2.2.0)
Section: debug
Priority: optional
Description: debug symbols for base16384
Build-Ids: 6d9ae4a1cc3a0912e6dc79a4bea5f5c83cb8bedd 96a47c13589ce53512f7ac5db54a7f368b1503f3
