Package: base16384-dbgsym
Package-Type: ddeb
Source: base16384
Version: 2.2.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: fumiama <fumiama@foxmail.com>
Installed-Size: 40
Depends: base16384 (= 2.2.0)
Section: debug
Priority: optional
Description: debug symbols for base16384
Build-Ids: 2b745609d1d4a56f5d73c1159b59602accd47443 695e0807c648d71cec8e53be4a4f3a939f08f481
